@import "./modules/mixin";

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

#global-container2 {
  background-color: #e7e1e2;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#global-container {
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  // position: relative;
}

#container {
  max-width: 100%;
  height: 100vh;
  vertical-align: bottom;
  position: relative;
}

.rain {
  max-width: 100%;
  height: 100vh;
  vertical-align: bottom;
  position: relative;
  background-image: url(/images/petit-practice3.png);
  background-position: center;
  height: 100vh;
  max-width: 100%;
  background-size: cover;
  object-fit: cover;
  vertical-align: bottom;
}

.sub-content {
  right: 20%;
  & p{
    text-align: center;
  }
}

.img-zoom {
  opacity: 0;

  .inview & {
    opacity: 1;
    transition: transform 0.3s ease;
    @include animation(
      $name: kf-img-show,
      $duration: 1.6s,
      $timing-function: ease-in-out,
      $fill-mode: normal
    );
  }
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
    transform: translateX(-64px);
  }
  50% {
    opacity: 0;
    transform: translateX(-64px);
  }
  50.1% {
    opacity: 1;
    transform: translateX(-64px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.bg-img-zoom {
  background-image: url(/images/petit-practice4-2.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  max-width: 100%;

  background-size: cover;
  object-fit: cover;
  vertical-align: bottom;
  position: relative;
  bottom: 0;
  // @extend .img-zoom;
}

.img-bg50 {
  &::before {
    display: block;
    content: "";
    padding-top: 50%;
  }
}

.side-left {
  display: inline-block;
  position: absolute;
  left: 180px;
  bottom: 50px;

  & .btn-float {
    outline: none;
    display: inline-block;
    width: 100px;
    height: 40px;
    left: 50%;
    position: absolute;
    border-radius: 8px;
    font-weight: 8px;
    font-size: 20px;
    // color: #726f6f;
    box-shadow: 2px 3px 0 0 black;

    color: white;
    // background-color: #dac7c7;
    background-color: rgb(69, 69, 69);
    z-index: 100;
    text-shadow: 1px 1px 1px #dba2b4c9;
    @include animation(
      $name: kf-img-up,
      $duration: 2s,
      $timing-function: ease-in-out
    );

    & a {
      text-decoration: none;
    }

    &:hover {
      background-color: rgb(109, 108, 108);
    }

    &:active {
      height: 38px;
      margin-top: 3px;
      box-shadow: none;
    }
  }
}

@keyframes kf-img-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0.02;
    transform: translateY(30px);
  }
  50.1% {
    opacity: 0.08;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


ul {
  list-style: none;
  padding-bottom: 30px;
  max-width: 80%;
  text-align: center;

  & > li {
    // border-top: 1px solid #bbb;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    max-width: 100%;

    height: 50px;

    &:nth-child(1) {
      padding-top: 30px;
    }

    & span {
      &.mgr-100 {
        margin-right: 103px;
      }
      &.mgr-60 {
        margin-right: 58px;
      }
      &.mgr-80 {
        margin-right: 76px;
      }
    }
  }
}

.main-text {
  width: 90%;
  margin-left: 30px;
  margin-bottom: 0px;
  position: relative;
  text-align: left;
}

a.home {
  font-size: large;
  padding-left: 50px;
  padding-bottom: 50px;
  margin-top: 0px;
  position: absolute;
  bottom: 80px;
}

.sub-content {
  max-width: 100%;
  display: inline-block;
  position: absolute;
  bottom: 10%;
  left: 20%;
  font-size: 18px;
  opacity: 0.8;
}

.log-container {
  padding-top: 20px;
  background-color: #dac7c7;
  vertical-align: bottom;
  max-width: 100%;
  margin: 0 auto;
}

.button-wrapper {
  text-align: center;
}

.login {
  width: 300px;
  height: 45px;
  font-size: medium;
  border-radius: 5px;
  background-color: rgb(141, 130, 130);
  color: #fff;
  max-width: 90%;

  &:hover {
    // box-shadow: 0px 5px 15px 0 gray inset;
    background-color: rgb(150, 139, 139);
    color: blanchedalmond;
    cursor: pointer;
  }
}

.h1log {
  padding-top: 200px;
  padding-bottom: 20px;
  text-align: center;
}
